# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store
/dist
/build
coverage/
.nyc_output/
.sass-cache/
.next/
.nuxt/
.vuepress/
.cache/
.parcel-cache/
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
/public/static/
/out/
